.idea/
composer.lock
vendor/autoload.php
vendor/composer/autoload_real.php
vendor/composer/autoload_files.php
vendor/composer/include_paths.php
vendor/composer/installed.json
vendor/yiisoft/extensions.php
vendor/composer/autoload_psr4.php
runtime/
vendor/2amigos/yii2-gallery-widget/
