/*! galpho.less v3 */
body {
  padding-top: 50px;
}
.galphostructure {
  background-color: 0;
}
.galphostructure ul {
  list-style-type: none;
}
.galphostructure ul,
.galphostructure li {
  margin: 0;
  padding: 0;
  border: 0;
}
.galphostructure div {
  color: #FF0;
}
.galphostructure .even {
  background-color: #aaaaaa;
}
.galphostructure .odd {
  background-color: #cccccc;
}
.galphostructure xdiv.galpho-name {
  display: inline-block;
  width: 500px;
}
.galphostructure xdiv.galpho-right {
  display: inline-block;
  width: 200px;
}
.galphostructure xdiv.galpho-right span {
  display: inline-block;
  width: 15px;
}
.galphostructure .galpho-child.galpho-close {
  display: none;
}
.galphostructure .galpho-child.galpho-open {
  display: block;
}
.galphostructure .galpho-select > .galpho-name {
  background-color: red;
}
.galphostructure .galpho-notlast.galpho-close > .galpho-name span.galpho-puce:before {
  display: inline-block;
  vertical-align: middle;
  border: 8px solid transparent;
  border-left: 8px solid #F00;
  margin-right: 8px;
  content: '';
  line-height: 8px;
}
.galphostructure .galpho-notlast > .galpho-name span.galpho-puce:before {
  display: inline-block;
  vertical-align: middle;
  border: 8px solid transparent;
  border-top: 8px solid #0F0;
  margin-right: 8px;
  content: '';
  line-height: 8px;
}
.galphostructure .galpho-last > .galpho-name span.galpho-puce:before {
  width: 19px;
  display: inline-block;
  margin-right: 5px;
  content: '';
}
