/*! galpho.less v3 */
@lum0: #CCC;
@lum1: #AAA;
@lum4: #0FF;

.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

.transition(@transition) {
  -webkit-transition: @transition;
  -o-transition: @transition;
  transition: @transition;
}

body {
  padding-top: 50px; // top offset for header menu bar
}

.galpho {

   .pagination-left, .pagination-center, .page-right {
     display: inline-block;
   }

  .galpho-dir, .galpho-img {
//    background-color: #d4d1bf;
//    border-radius: 5px;

  }

  .galpho-thumb .photo {
    width: 220px;
    height: 220px;
  }

  .galpho-thumb {
    border: 1px solid;
    border-color: #fff #fff #ccc #ccc;
    background-color: #eee;
    &.galpho-thumb-img {
      .photo .zone {
        a, a:hover {
          font-size: 150%;
        }
      }
    }
    float: left;
    position: relative;

    .photo {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      img {
        border: 2px solid #fff;
      }

      position: relative;
      .zone {
        word-wrap: break-word;
        text-shadow: 0 0 5px #000;
        width:100%;
        margin: 4px 0px;
        position: absolute;
        left: 0;
        color: #fff;
//        background-color: rgba(0, 0, 0, 0.1);
        .transition(background-color .3s linear);
        a, a:hover {
          color: #fff;
          font-size: 200%;
        }
      }
      .zone1 {
        top: 5px;
      }
      .zone2 {
        bottom: 5px;
      }
    }
    &:hover {
      background-color: #999;
      .zone {
        background-color: rgba(0, 0, 0, 0.7);
        .transition(background-color .3s linear);

      }
    }

  }

  .galphostructure {
    background-color: 0;
    ul {
      list-style-type: none;
    }

    ul, li {
      margin: 0;
      padding: 0;
      border: 0;
    }

    div {
      color: #FF0;
    }

    .even {
      background-color: @lum1;
    }
    .odd {
      background-color: @lum0;
    }

    xdiv.galpho-name {
      display: inline-block;
      width: 500px;
    }
    xdiv.galpho-right {
      display: inline-block;
      width: 200px;
    }
    xdiv.galpho-right span {
      display: inline-block;
      width: 15px;
    }

    .galpho-child.galpho-close {
      display: none;
    }
    .galpho-child.galpho-open {
      display: block;
    }

    .galpho-select > .galpho-name {
      background-color: red;
    }

    .galpho-notlast.galpho-close > .galpho-name span.galpho-puce:before {
      display: inline-block;
      vertical-align: middle;
      border: 8px solid transparent;
      border-left: 8px solid #F00;

      //    border-top: 8px solid transparent;
      //    border-bottom: 8px solid transparent;
      margin-right: 8px;
      content: '';
      line-height: 8px;
    }
    .galpho-notlast > .galpho-name span.galpho-puce:before {
      display: inline-block;
      vertical-align: middle;
      border: 8px solid transparent;
      border-top: 8px solid #0F0;

      //    border-top: 8px solid transparent;
      //    border-bottom: 8px solid transparent;
      margin-right: 8px;
      content: '';
      line-height: 8px;
    }

    .galpho-last > .galpho-name span.galpho-puce:before {
      width: 19px;
      display: inline-block;
      margin-right: 5px;
      content: '';

    }

  }
}

